# Objective : Working on Text Data

<hr>

1. Introduction
2. Concat, Split & Join 
3. Contains, Find
4. Cleaning Punchuations
5. Checking contents of String Data
6. String Manipulation

<hr>

### 1. Introduction
* Columns many times contain string data. 
* And, string data may always not be in best of their hygine.
* Pandas provide rich api's to make task easier using .str functions.

In [1]:
import pandas as pd

### 2. Concat, Split & Join

In [2]:
jagadeesh_df = pd.DataFrame({'A':['a','b','c','d']})

In [3]:
jagadeesh_df

   A
0  a
1  b
2  c
3  d

Pandas str.cat () is used to concatenate strings to the passed caller series of string. Distinct values from a different series can be passed but the length of both the series has to be same..str has to be prefixed to differentiate it from the Pythonâ€™s default method. Syntax: Series.str.cat (others=None, sep=None, na_rep=None)

In [4]:
jagadeesh_df.A.str.cat(sep=' ')

'a b c d'

In [5]:
jagadeesh_df.A.str.cat(['1','2','3','4'])

0    a1
1    b2
2    c3
3    d4
Name: A, dtype: object

In [6]:
jagadeesh_horror_data = pd.read_excel('C:/Users/jagadeesh baman/Favorites/horror.xlsx')

In [7]:
jagadeesh_horror_data = jagadeesh_horror_data.iloc[:10]

In [8]:
jagadeesh_horror_data

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL
5  id22965  A youth passed in solitude, my best years spen...    MWS
6  id09674  The astronomer, perhaps, at this point, took r...    EAP
7  id13515        The surcingle hung in ribands from my body.    EAP
8  id19322  I knew that you could not say to yourself 'ste...    EAP
9  id00912  I confess that neither the structure of langua...    MWS

In [9]:
jagadeesh_horror_data.text.str.split()

0    [This, process,, however,, afforded, me, no, m...
1    [It, never, once, occurred, to, me, that, the,...
2    [In, his, left, hand, was, a, gold, snuff, box...
3    [How, lovely, is, spring, As, we, looked, from...
4    [Finding, nothing, else,, not, even, gold,, th...
5    [A, youth, passed, in, solitude,, my, best, ye...
6    [The, astronomer,, perhaps,, at, this, point,,...
7    [The, surcingle, hung, in, ribands, from, my, ...
8    [I, knew, that, you, could, not, say, to, your...
9    [I, confess, that, neither, the, structure, of...
Name: text, dtype: object

In [ ]:
jagadeesh_horror_data.text.str.split(expand=True,n=20)

In [ ]:
res = jagadeesh_horror_data.text.str.split()

In [ ]:
res.str.join(sep=' ')

### 3. Understanding contains, find & index

In [ ]:
jagadeesh_horror_data.text.str.contains('This')

In [ ]:
jagadeesh_horror_data.text.str.contains('his')

In [ ]:
jagadeesh_horror_data.text.str.find('This')

In [ ]:
jagadeesh_horror_data[:5].text.str.index('is')

In [ ]:
jagadeesh_df2 = pd.DataFrame({'Name':['Abc','Def','Jkl'], 'Email':['awidgmail.com', ' def@gmail.com', 'jkl@yahoo.com']})

In [ ]:
jagadeesh_df2

In [ ]:
jagadeesh_df2.Email.str.contains(r'\w+@\w+')

In [ ]:
jagadeesh_df2.Email.str.replace(pat='@',repl='&')

### 4. Cleaning Punchuations

In [ ]:
import string
table = str.maketrans('', '', string.punctuation)

In [ ]:
jagadeesh_horror_data.text.str.translate(table)

In [ ]:
jagadeesh_horror_data_tf = jagadeesh_horror_data.text.str.translate(table)

In [ ]:
jagadeesh_horror_data_tf = jagadeesh_horror_data_tf.str.lower()

###  5. Check for string contents
* isalnum()	Equivalent to str.isalnum
* isalpha()	Equivalent to str.isalpha
* isdigit()	Equivalent to str.isdigit
* isspace()	Equivalent to str.isspace
* islower()	Equivalent to str.islower
* isupper()	Equivalent to str.isupper
* istitle()	Equivalent to str.istitle
* isnumeric()	Equivalent to str.isnumeric
* isdecimal()	Equivalent to str.isdecimal

In [ ]:
jagadeesh_df3 = pd.DataFrame({'A':['1234','123ab','abcde']})

In [ ]:
jagadeesh_df3

* Returns only rows which contain digit

In [ ]:
jagadeesh_df3[jagadeesh_df3.A.str.isdigit()]

* Returns only rows which is alphabets

In [ ]:
jagadeesh_df3[jagadeesh_df3.A.str.isalpha()]

### 6. String Manipulation
* slice()	Slice each string in the Series
* slice_replace()	Replace slice in each string with passed value
* count()	Count occurrences of pattern
* startswith()	Equivalent to str.startswith(pat) for each element
* endswith()	Equivalent to str.endswith(pat) for each element
* findall()	Compute list of all occurrences of pattern/regex for each string
* match()	Call re.match on each element, returning matched groups as list
* extract()	Call re.search on each element, returning DataFrame with one row for each element and one column for each regex 
* extractall()

In [ ]:
jagadeesh_df4 = pd.DataFrame({'Name':['Rush','Riba','Kunal','Pruthvi'],
                   'Email':['rush@edyoda.com','riba@edyoda.com','kunal@edyoda.com','pruthvi@edyoda.com']})

In [ ]:
jagadeesh_df4

In [ ]:
jagadeesh_df4['Username'] = jagadeesh_df4.Email.str.slice(start = 0, step=2, stop=-11)

In [ ]:
jagadeesh_df4

In [ ]:
jagadeesh_df4['UpdatedEmail'] = jagadeesh_df4.Email.str.slice_replace(start=-11, repl='@zekelabs.com')
jagadeesh_df4

* Altering value

In [ ]:
jagadeesh_df4.at[2,'Email'] = 'kunal@everywhere.com'

In [ ]:
jagadeesh_df4

* Filtering based domain name

In [ ]:
jagadeesh_df4.Email.str.match('[\w]+@edyoda.com')

* Extract text based on certain pattern

In [ ]:
jagadeesh_df4.Email.str.extract('([\w]*)@([\w.]*)')